.btn {
    width: 25.5rem;
    height: 2rem;
    background: #3359DF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 0.188rem;
    font-size: 1rem;
    line-height: 1rem;
}