@import '../base.scss';

.modal{
    height: 50rem;
    h6{
        margin: .5rem auto;
    }
}
.modal--header--title {
    color: $color-primary;
}

.modal--header,
.modal--body,
.modal--footer {
    margin-left: 2rem;
}

.modal--body--radio {
    margin-right: 10%;
    >input{
        margin-right: 1rem;
    }
}
.modal--body--date{
    display: flex;
}
.modal--btn{
    width: auto;
}