@import "./base.scss";
* {
  font-family: $font-family ;
}
.course-card {
  min-height: 200px;
  margin-top: -20px;
  margin-bottom: 40px;
  &:hover{
    cursor: pointer;
  }
}

.card-block {
  margin-left: -12px !important;
  margin-right: -10px !important;
  margin-top: -18px !important;

}
.card-font{
  font-style: normal;
  font-weight: normal;
  font-size: $font-size-small;
  margin-right: -5px !important;
  margin-top: -13px !important;
}

.course-image{
  height: 110px;
  border-radius: 3px;
}

.course-title a{
  text-decoration: none;
  font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	color: #000000;
}

.submenu a {
  text-decoration: none;
	font-size: 16px;
	line-height: 16px;
  color: #000000;
}
.carded-table {
  height: 30px;
  margin-bottom: 5px;
}
.carded-table-scroll {
  position: fixed;
  width: 700px;
  height: 65%;
  overflow-y: auto;
  overflow-x: auto;
}
.large-scroll {
  height: 85%;
}
.medium-scroll {
  height: 78%;
}
.large-table {
  width: 900px !important;
}
.carded-table-body {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
  vertical-align: middle;
  padding: 0px;
  p {
    margin: 2px 0;
  }
}
.carded-table-header {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  color: $color-primary;
  font-size: $font-size-medium;
}
.carded-details {
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background-color: #F5F8FF;
  border-radius: 5px;
}
.submenu a:hover {
  color: $color-primary;
}
.shift-up {
  margin-top: -10px;
}
.ql-editor{
  min-height:200px;
}
.isActive a{
  color: $color-primary;
}
.publish-unpublish-btn{
	position: absolute;  
	right: 10px;
  top: 80px;
  padding: 2px 4px;
	background: #3359DF;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
  border-radius: 3px;
  font-size: 12px;
	color: #FFFFFF;
}
.bagde-published {
  background-color: #EDF9FC;
  color: #66B848;
  font-weight: normal;
  width: 90px;
  height: 18px;
  p {
    font-size: $font-size-small;
  }
}
.bagde-unpublished {
  background-color: #F9F9F9;
  color: black;
  font-weight: normal;
  width: 90px;
  height: 18px;
  p {
    font-size: $font-size-small;
  }
}
.dropdown-no-caret {
  .dropdown-toggle {
    width: 2px;
    height: 2px;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .drop-menu {
    margin-left: -8px;
    margin-top: -8px;
    color: black;
  }
  .dropdown-toggle::after {
    vertical-align: middle;
    content: none;
  }
}

.black-links {
  text-decoration: none;
  color: black;
}

.black-links :hover {
  text-decoration: underline;
}

.vl {
  border-left: 1px solid rgba(0, 0, 0, 0.20);
  height: 80%;
  position: absolute;
  margin-left: -10px;
  top: 17%;
}
.right-sidebar {
  margin-top: 50%;
}

.submenu-small {
  height: 550px;
}

.large-card {
  position: fixed;
  height: 550px;
  width: 358px;
  overflow-y: auto;
}
.large-card-content {
  width: 350px;
}

@media screen and (max-width: 1001px) {
  .submenu-small {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .submenu-small {
    width: 130px;
  }
}