@import './signup.scss';

.login--form{
    margin-top: 4rem;
}   
.login--form--btn {
    position: relative;
    bottom: 1.3rem;
}
.login--form--footer{
    position: relative;
    bottom: 1rem;
}
.login--form--title{
    position: relative;
    left: 1.7rem;
}
.in-small {
    display: none;
}
@media (max-width: 1024px) {
    .in-small {
        display: block;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .signup--section {
        display: none;
    }
    .login--form{
        position: relative;
        top: -8rem;
        left: 0;
    }
    .signup--form--title {
        .txt--fontSize__large {
            display: none;
        }
    }
}
@media (min-width: 1025px) and (max-width: 1220px) {
    .in-small {
        display: block;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .signup--section {
        position: relative;
        top: 0;
    }
    .login--form{
        position: relative;
        top: 0rem;
        left: 0;
    }
    .signup--form--title {
        .txt--fontSize__large {
            display: none;
        }
    }
}
